@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  box-sizing: border-box;
  color: white;
}

.max-w-1200 {
  max-width: 1200px;
}

.main-container {
  inset: 0 0 0 64px;
  @apply fixed 
  bg-gradient-to-br from-[#0d0c0a] to-[#1a0006];
}

.content {
  @apply max-w-1200 mx-auto
  flex h-full flex-col
  items-center justify-center gap-8;
}

.wizard-panel {
  @apply flex h-[70vh] w-full gap-8 rounded-lg p-8;
}
